# 1. Write a Python program to create a table and insert some records in that table. Finally selects all rows from the table and display the records.

In [4]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS records
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

cursor.execute("INSERT INTO records (name, age) VALUES (?, ?)", ('Alice', 30))
cursor.execute("INSERT INTO records (name, age) VALUES (?, ?)", ('Alice', 25))
cursor.execute("INSERT INTO records (name, age) VALUES (?, ?)", ('Charlie', 35))

conn.commit()

cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.close()
conn.close()

[(1, 'Alice', 40), (2, 'Bob', 25), (3, 'Charlie', 35), (4, 'Alice', 30), (5, 'Alice', 25), (6, 'Charlie', 35)]

# 2. Write a Python program to update a specific column value of a given table and select all rows before and after updating the said table.

In [5]:
import sqlite3

conn = sqlite3.connect('example.db')

cursor = conn.cursor()

print("Before updating:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.execute("UPDATE records SET age = ? WHERE name = ?", (40, 'Alice'))

conn.commit()

print("\nAfter updating:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.close()
conn.close()

Before updating:
[(1, 'Alice', 40), (2, 'Bob', 25), (3, 'Charlie', 35), (4, 'Alice', 30), (5, 'Alice', 25), (6, 'Charlie', 35)]

After updating:
[(1, 'Alice', 40), (2, 'Bob', 25), (3, 'Charlie', 35), (4, 'Alice', 40), (5, 'Alice', 40), (6, 'Charlie', 35)]

# 3. Write a Python program to delete a specific row from a given SQLite table.

In [6]:
import sqlite3

conn = sqlite3.connect('example.db')

cursor = conn.cursor()

print("Before deleting:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.execute("DELETE FROM records WHERE name = ?", ('Alice',))

conn.commit()

print("\nAfter deleting:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.close()
conn.close()

Before deleting:
[(1, 'Alice', 40), (2, 'Bob', 25), (3, 'Charlie', 35), (4, 'Alice', 40), (5, 'Alice', 40), (6, 'Charlie', 35)]

After deleting:
[(2, 'Bob', 25), (3, 'Charlie', 35), (6, 'Charlie', 35)]

# 4. Write a Python program to alter a given SQLite table.

In [7]:
import sqlite3

conn = sqlite3.connect('example.db')

cursor = conn.cursor()

cursor.execute("ALTER TABLE records ADD COLUMN email TEXT")

conn.commit()

cursor.close()
conn.close()

# 5. Write a Python program to update all the values of a specific column of a given SQLite table.

In [8]:
import sqlite3

conn = sqlite3.connect('example.db')

cursor = conn.cursor()

print("Before updating:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.execute("UPDATE records SET age = 40")

conn.commit()

print("\nAfter updating:")
cursor.execute("SELECT * FROM records")
print(cursor.fetchall())

cursor.close()
conn.close()

Before updating:
[(2, 'Bob', 25, None), (3, 'Charlie', 35, None), (6, 'Charlie', 35, None)]

After updating:
[(2, 'Bob', 40, None), (3, 'Charlie', 40, None), (6, 'Charlie', 40, None)]

# 6. Write Python code to:
1. Connect to a MySQL database using the mysql.connector library.
2. Execute a SQL query to retrieve all customer names and emails.
3. Insert a new row into the &quot;customers&quot; table.
4. Update an existing customer&#39;s email address.

In [13]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="rootpass",
    database="python_database"
)

cursor = conn.cursor()

cursor.execute("SELECT name, email FROM customers")
result = cursor.fetchall()
print("Customer names and emails:")
for row in result:
    print(row)

new_customer = ("Yash", "yash@gmail.com")
cursor.execute("INSERT INTO customers (name, email) VALUES (%s, %s)", new_customer)
conn.commit()
print("New customer added successfully.")

updated_email = "new.email@example.com"
customer_id_to_update = 1 
cursor.execute("UPDATE customers SET email = %s WHERE id = %s", (updated_email, customer_id_to_update))
conn.commit()
print("Customer's email updated successfully.")

cursor.close()
conn.close()

Customer names and emails:
('Yash', 'new.email@example.com')
New customer added successfully.
Customer's email updated successfully.

# 7. Write a Python program that connects to a MySQL database and fetches and prints the version of the MySQL server.

In [14]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )
    cursor = conn.cursor()

    cursor.execute("SELECT VERSION()")
    server_version = cursor.fetchone()[0]

    print("MySQL Server Version:", server_version)

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

MySQL Server Version: 8.0.36

# 8. Create a program that establishes a connection to a MySQL database and lists all the databases available on the server.

In [16]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass"
    )

    cursor = conn.cursor()
    cursor.execute("SHOW DATABASES")

    databases = cursor.fetchall()

    print("List of databases:")
    for database in databases:
        print(database[0])

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

List of databases:
information_schema
mysql
performance_schema
python_database
sys

# 9. Write a Python program that connects to a MySQL database, creates a table named employees with columns for id, name, and salary, and inserts a few records into the table.

In [2]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    cursor.execute("CREATE TABLE IF NOT EXISTS employees (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), salary DECIMAL(10, 2))")

    employees_data = [
        ("Yash", 50000),
        ("Abhishek", 60000),
        ("Dipak", 55000)
    ]
    cursor.executemany("INSERT INTO employees (name, salary) VALUES (%s, %s)", employees_data)

    conn.commit()
    print("Records inserted successfully.")

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Records inserted successfully.

# 10. Create a program that connects to a MySQL database, queries the employees table, and prints the names and salaries of employees.

In [3]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    cursor.execute("SELECT name, salary FROM employees")

    records = cursor.fetchall()

    print("Names and Salaries of Employees:")
    for record in records:
        print("Name:", record[0], "- Salary:", record[1])

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Names and Salaries of Employees:
Name: Yash - Salary: 50000.00
Name: Abhishek - Salary: 60000.00
Name: Dipak - Salary: 55000.00

# 11. Write a Python program that connects to a MySQL database, updates the salary of an employee in the employees table, and then queries and prints the updated record.

In [4]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    employee_id_to_update = 1
    new_salary = 65000
    cursor.execute("UPDATE employees SET salary = %s WHERE id = %s", (new_salary, employee_id_to_update))
    conn.commit()
    print("Salary updated successfully.")

    cursor.execute("SELECT * FROM employees WHERE id = %s", (employee_id_to_update,))
    updated_record = cursor.fetchone()

    print("Updated Record:")
    print("ID:", updated_record[0])
    print("Name:", updated_record[1])
    print("Salary:", updated_record[2])

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Salary updated successfully.
Updated Record:
ID: 1
Name: Yash
Salary: 65000.00

# 12. Create a program that connects to a MySQL database, deletes a specific employee record from the employees table, and then queries and prints the remaining records.

In [5]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    employee_id_to_delete = 1
    cursor.execute("DELETE FROM employees WHERE id = %s", (employee_id_to_delete,))
    conn.commit()
    print("Employee record deleted successfully.")

    cursor.execute("SELECT * FROM employees")
    remaining_records = cursor.fetchall()

    print("Remaining Records:")
    for record in remaining_records:
        print("ID:", record[0])
        print("Name:", record[1])
        print("Salary:", record[2])
        print()

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Employee record deleted successfully.
Remaining Records:
ID: 2
Name: Abhishek
Salary: 60000.00

ID: 3
Name: Dipak
Salary: 55000.00

# 13. Write a Python program that demonstrates the use of transactions. Connect to a MySQL database, start a transaction, insert multiple records into a table, and commit the transaction.

In [11]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    conn.start_transaction()

    insert_query = "INSERT INTO employees (name, salary) VALUES (%s, %s)"
    employees_data = [
        ("Harsh", 50000),
        ("Aditya", 60000),
        ("Puru", 55000)
    ]
    cursor.executemany(insert_query, employees_data)

    conn.commit()
    print("Transaction committed successfully.")

except mysql.connector.Error as e:
    conn.rollback()
    print("Transaction rolled back due to error:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Transaction committed successfully.

# 14. Create a program that connects to a MySQL database, starts a transaction, updates the salary of an employee, but rolls back the transaction if an error occurs during the update.

In [9]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    conn.start_transaction()

    employee_id_to_update = 4
    new_salary = 65000
    cursor.execute("UPDATE employees SET salary = %s WHERE id = %s", (new_salary, employee_id_to_update))

    raise Exception("Simulated error during update")

    conn.commit()
    print("Transaction committed successfully.")

except Exception as e:
    conn.rollback()
    print("Transaction rolled back due to error during update:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Transaction rolled back due to error during update: Simulated error during update

# 15. Write a Python program that connects to a MySQL database, queries a table containing student grades, and calculates and prints the average grade.

In [17]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="student_grades"
    )

    cursor = conn.cursor()

    cursor.execute("SELECT grades FROM student_grades")

    grades = cursor.fetchall()

    total_grades = sum(grade[0] for grade in grades)
    num_grades = len(grades)

    average_grade = total_grades / num_grades if num_grades > 0 else 0

    print("Average Grade:", average_grade)

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Average Grade: 0

# 16. Create a program that connects to a MySQL database, queries a table containing customer orders, and prints the total revenue for a specific product.

In [23]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    product_name = "Product1"
    cursor.execute("SELECT SUM(price * quantity) FROM orders WHERE product_name = %s", (product_name,))

    total_revenue = cursor.fetchone()[0]

    print(f"Total revenue for {product_name}: Rs {total_revenue}")

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Total revenue for Product1: Rs 30.00

# 17. Write a Python program that connects to a MySQL database and uses a prepared statement to insert multiple records into a table.

In [24]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor(prepared=True)

    insert_query = "INSERT INTO customers (name, email) VALUES (%s, %s)"
    
    records = [
        ('Aaryan', 'aaryan@gmail.com'),
        ('Aakash', 'aakash@gmail.com'),
        ('Manoj', 'manoj@gmail.com')
    ]

    cursor.executemany(insert_query, records)

    conn.commit()
    print("Records inserted successfully.")

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Records inserted successfully.

# 18. Create a program that connects to a MySQL database, uses a prepared statement to update the salary of an employee, and then queries and prints the updated record.

In [28]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor(prepared=True)

    update_query = "UPDATE employee SET salary = %s WHERE id = %s"

    employee_id_to_update = 1
    new_salary = 65000

    cursor.execute(update_query, (new_salary, employee_id_to_update))

    conn.commit()
    print("Salary updated successfully.")

    cursor.execute("SELECT * FROM employee WHERE id = %s", (employee_id_to_update,))
    updated_record = cursor.fetchone()

    if updated_record is not None:
        print("Updated Record:")
        print("ID:", updated_record[0])
        print("Name:", updated_record[1])
        print("Salary:", updated_record[2])
    else:
        print("No record found for employee ID:", employee_id_to_update)

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Salary updated successfully.
Updated Record:
ID: 1
Name: Yash
Salary: 65000.00

# 19. Write a Python program that connects to a MySQL database, creates two tables named students and courses, establishes a relationship between them, and inserts sample data.

In [29]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
        student_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        age INT
    )
    """)

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS courses (
        course_id INT AUTO_INCREMENT PRIMARY KEY,
        course_name VARCHAR(255)
    )
    """)

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS student_courses (
        student_id INT,
        course_id INT,
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (course_id) REFERENCES courses(course_id),
        PRIMARY KEY (student_id, course_id)
    )
    """)

    cursor.execute("INSERT INTO students (name, age) VALUES ('John', 20), ('Alice', 22), ('Bob', 21)")

    cursor.execute("INSERT INTO courses (course_name) VALUES ('Math'), ('Science'), ('History')")

    cursor.execute("INSERT INTO student_courses (student_id, course_id) VALUES (1, 1), (1, 2), (2, 2), (3, 3)")

    conn.commit()
    print("Tables created and sample data inserted successfully.")

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Tables created and sample data inserted successfully.

# 20. Create a program that connects to a MySQL database, performs a JOIN operation on the students and courses tables, and prints the names of students along with the courses they are enrolled in.

In [30]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="rootpass",
        database="python_database"
    )

    cursor = conn.cursor()

    cursor.execute("""
    SELECT s.name AS student_name, c.course_name
    FROM students s
    JOIN student_courses sc ON s.student_id = sc.student_id
    JOIN courses c ON sc.course_id = c.course_id
    """)

    rows = cursor.fetchall()

    print("Names of Students and Their Enrolled Courses:")
    for row in rows:
        print("Student:", row[0], "- Course:", row[1])

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()

Names of Students and Their Enrolled Courses:
Student: John - Course: Math
Student: John - Course: Science
Student: Alice - Course: Science
Student: Bob - Course: History